<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net481" />
  <package id="EPPlus" version="7.4.1" targetFramework="net481" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net481" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net481" />
  <package id="Google.Apis" version="1.68.0" targetFramework="net481" />
  <package id="Google.Apis.Auth" version="1.68.0" targetFramework="net481" />
  <package id="Google.Apis.Core" version="1.68.0" targetFramework="net481" />
  <package id="Google.Apis.Sheets.v4" version="1.68.0.3547" targetFramework="net481" />
  <package id="Microsoft.Data.Sqlite.Core" version="9.0.0-rc.2.24474.1" targetFramework="net481" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" targetFramework="net481" />
  <package id="Microsoft.Web.WebView2" version="1.0.2839-prerelease" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="SQLitePCLRaw.core" version="2.1.10" targetFramework="net481" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net481" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net481" />
  <package id="System.Configuration.ConfigurationManager" version="9.0.0-rc.2.24473.5" targetFramework="net481" />
  <package id="System.Data.SQLite" version="1.0.119.0" targetFramework="net481" />
  <package id="System.Data.SQLite.Core" version="1.0.119.0" targetFramework="net481" />
  <package id="System.Data.SQLite.EF6" version="1.0.119.0" targetFramework="net481" />
  <package id="System.Data.SQLite.Linq" version="1.0.119.0" targetFramework="net481" />
  <package id="System.Management" version="7.0.2" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net481" />
</packages>